'menu': [
  {
    'label': 'File',
    'submenu': [
      {
        'label': 'New Tab (Browser)',
        'command': 'web-browser:newtab'
      }
    ]
  },
  {
    'label': 'Browser'
    'submenu': [
      {
        'label': 'Show / Hide Browser UI'
        'command': 'web-browser:toggle'
      },
      {
        'label': 'Open New Tab',
        'command': 'web-browser:newtab'
      },
      {
        'label': 'Show Devtools',
        'command': 'web-browser:devtools'
      },
      {
        'label': 'Stop',
        'command': 'web-browser:stop-loading'
      },
      {
        'label': 'Reload',
        'command': 'web-browser:reload'
      },
      {
        'label': 'Reload (No Cache)',
        'command': 'web-browser:reload-nocache'
      },
      {
        'label': 'Back',
        'command': 'web-browser:go-back'
      }
      {
        'label': 'Forward',
        'command': 'web-browser:go-forward'
      }
    ]
  }
]
